/*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
:root{
  --fontColorFirst: #707070;
  --lineColor: #aaa;
  --primaryColor: #FAC85E;
}


html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  font-family: 'Lato', sans-serif;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    contenteditable attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the clearfix class.
* 2. The use of table rather than block is only necessary if using
*    :before to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

.mainContainer{
  display: flex;
  justify-content: center;
  flex-basis: 50%;
  flex-wrap: wrap;
}

.nav{
  display: flex;
  justify-content: center;
  position: relative;
  flex-wrap: wrap;
  flex-basis: 100%;
}
.nav__side{
  flex-basis: 30%;
}
.nav__side__left{
  display: flex;
  justify-content: flex-end;
}
.nav__side_right{
  display: flex;
  justify-content: flex-start;
}
.nav__logo{
  flex-basis: 5%;
  text-align: center;
}
.logo__img{
  flex-basis: 10%;
  text-align: center;
  width: 75px;
  height: 100px;
}
.list{
  display: flex;
  flex-wrap: nowrap;
  list-style-type: none;
  padding: 20px;
}
.list__el{
  padding: 0 50px;
  text-decoration: none;
}
.list__el__link:hover{
  color: var(--primaryColor);
}
.list__el__link{
  text-decoration: none;
  color: var(--fontColorFirst);
  transition: 0.1s;
}
.lining{
  position: absolute;
  background: var(--lineColor);
  height: 1px;
  width: 860px;
  bottom: 83%;
}
.lining--left{
  left: 0;
  transform: rotate(1deg);
  background: var(--lineColor);
}
.lining--right{
  right: 0;
  transform: rotate(-1deg);
  background: var(--lineColor);
}
.introduction{
  display: flex;
  flex-wrap: nowrap;
  padding-top: 50px;
}
.introduction--image{
  flex-basis: 50%;
  justify-content: center;
}
.introduction--text{
  flex-basis: 60%;
  justify-content: flex-end;
  text-align: right;
}
.introduction__header{
  font-size: 65px;
  padding-top: 150px;
}
.introduction__paragraph{
  font-weight: 100;
}
.introduction__btn{
  padding: 15px 30px;
  background: #FAC85E;
  border: 1px solid #eee;
  font-weight: bold;
}
.showcasing{
  display: flex;
  justify-content: center;
  flex-basis: 100%;
  background: #FBFBFB;
  margin-top: 70px;
  padding: 50px 0 100px 0;
}
.showcase{
  display: flex;
  flex-wrap: wrap;
  flex-basis: 70%;
}
.showcase__title{
  flex-basis: 100%;
  text-align: center;
  font-size: 50px;
}
.showcase__paragraph{
  flex-basis: 100%;
  text-align: center;
  font-weight: 100;
}
.showcase__boxes{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  flex-basis: 100%;
  padding-top: 50px;
}
.showcase__box{
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 50px 0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.12);
  /* Note: currently only Safari supports backdrop-filter */
  backdrop-filter: blur(0px);
  --webkit-backdrop-filter: blur(0px);
  background: #fff;
}
.box__icon{
  flex-basis: 50%;
  display: flex;
}
.box__button{
  min-height: 40px;
  width: 150px;
  background: var(--primaryColor);
  border: 1px solid #eee;
}
.text__header{
  font-weight: bold;
  font-size: 25px;
  padding-top: 20px;
}
.text__paragraph{
  font-weight: 100;
  font-size: 18px;
  padding: 10px 60px;
}
.region{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.region__header{
  font-size: 50px;
  padding-top: 50px;
}
.region__paragraph{
  font-weight: 100;
  font-size: 18px;
}
.region__image{
  width: 50%;
  height: auto;
}

.information {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  position: relative;
  justify-content: center;
  padding-top: 30px;
}

.information__text {
  display: flex;
  flex-basis: 60%;
  flex-wrap: wrap;
  color: #111;
  margin-bottom: 30px;
}

.information__text p,
.information__text span  {
  font-size: 2rem; /* TODO change color  */
  color: #333;
  flex-basis: 100%;
}
.contact__box{
  display: flex;
  justify-content: center;
  flex-basis: 100%;
  background: #FBFBFB;
  padding: 50px 0 150px 0;
}
.information__contact {
  flex-basis: 60%;
  display: flex;
  flex-wrap: wrap;
}
.information__contact p {
  flex-basis: 100%;
}
.information__contact p::before{
  display: inline-block;
  content: "";
  border-bottom: .1rem solid #ccc;
  width: 1rem;
  margin: -0.8rem 1rem;
  padding-top: 1px;
  transform: translateY(-1rem);
}
.information__contact__icons {
  flex-basis: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 30px;
}
.information__contact__icons img{
  width: 10%;
  height: auto;
}
.information__text span {
  color: var(--primaryColor);
}

.information__form {
  position: absolute;
  right: 21%;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 0 10px #ccc;
  padding: 50px 80px 60px 80px;
  background: #fff;
  flex-direction: column;
}
.inputty{
  position: relative;
}
.inputty input[type="text"],
.inputty textarea{
  flex-basis: 100%;
  padding: 10px;
  border-radius: 0;
  border: 1px solid #aaa;
  margin-top: 40px;
  width: 300px;
}
.inputty::before{
  content: "";
  position: absolute;
  left: 11px;
  top: 26px;
  background: #fff;
  color: #222;
  padding: 2px 8px;
}
.inputty[active]::before{
  color: var(--primaryColor);
}
#name::before{
  content: "Your Name";
}
#mail::before{
  content: "Mail Address";
}
#message::before{
  content: "Your Message";
}
#button{
  text-align: right;
}
button{
  transition: 0.3s;
}
button:hover{
  background: transparent !important;
  border: 1px solid var(--primaryColor) !important;
  font-weight: bold;
  color: var(--primaryColor);
  cursor: pointer;
}
.information__form textarea{
  height: 150px;
  resize: none;
}
.information__form button{
  padding: 15px 60px;
  text-transform: uppercase;
  margin-top: 40px;
  background: var(--primaryColor);
  border: 1px solid #eee;
  font-weight: bold;
  justify-self: flex-end;
}
.credits{
  display: flex;
  justify-content: center;
  padding: 50px 0;
}
.credits__paragraph{
  flex-basis: 70%;
  text-align: center;
  color: #333;
}

 /*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
  .nav{
    justify-content: unset;
  }
  .nav__side__left{
    display: none;
  }
  .nav__side__right{
    display: none;
  }
  .nav__logo{
    padding: 10px 0 0 40px;
  }
  .nav__logo img {
    width: 56px;
    height: auto;
  }
  .introduction{
    flex-wrap: wrap;
    justify-content: center;
  }
  .introduction--image img{
    width: 200px;
    height: auto;
  }
  .introduction--image{
    flex-basis: 100%;
    justify-content: center;
    text-align: center;
  }
  .introduction--text{
    flex-basis: 90%;
    justify-content: center;
    text-align: center;
  }
  .introduction__header{
    font-size: 35px;
    padding-top: 50px;
  }
  .showcase{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    text-align: center;
    justify-content: center;
  }
  .showcase__title{
    flex-basis: 90%;
    text-align: center;
    font-size: 34px;
  }
  .showcase__paragraph{
    flex-basis: 90%;
  }
  .showcase__boxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-basis: 100%;
    padding-top: 0;
  }
  .showcase__box{
    flex-basis: 90%;
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 50px 0;
  }
  .box__icon img{
    width: 100px;
  }
  .region__header{
    font-size: 34px;
  }
  .region__paragraph{
    font-size: 14px;
  }
  .region__image{
    width: 100%;
  }
  .information__form{
    position: unset;
    padding: 10px 0 50px 0;
    flex-basis: 100%;
    text-align: center;
    border-top: 1px solid #eee;
    box-shadow: none;
  }
  .information__form button{
    margin-right: 25px;
  }
  .information__text p,
  .information__text span{
    font-size: 1.5rem;
  }
  .information__text{
    flex-basis: 80%;
  }
  .information__contact{
    flex-basis: 80%;
  }
  .information__contact__icons{
    flex-basis: 100%;
  }
  .contact__box{
    padding: 50px 0;
  }
  .credits__paragraph{
    font-size: 0.8rem;
  }
  .inputty::before{
    left: 42px;
    color: #777;
  }
}

 /*Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {

}

 /*Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) {

}

 /*Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) {

}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the javascript: pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
